<%= form_tag search_path, method: :get, remote: true do %>
  <%= text_field_tag :query, params[:query], id: "search_query" %>
  <%= submit_tag "Search", id: "search_submit" %>
<% end %>

<div id="search_results">
  <!-- Results will be displayed here -->
</div>

<div id="search-results">
  <% if @results.present? %>
    <% @results.each do |result| %>
      <h2><%= result.title %></h2>
      <p><%= result.content %></p>
    <% end %>
  <% end %>
</div>
